.sidebar{
    border: 1cm;
    border-color: black;
    width: 15%;
    float:left;
    height:100vh;
    background-color:rgb(98, 121, 131);
}
.ul {
    width: 100px;
    list-style-type: none;
    padding-bottom: 20%;
    margin: 10%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}


.btn{
    width: 100;
    padding: 5px;
    margin: 10px;
}